*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first section */
.section_one{
background: url("/images/c413f20400e04805.webp") no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 750px;
}
/* navnar design */


  /* button in navabar */
.btn{
    border-radius: 20px;
}


.parentInnerDiv{
  display: flex;
}

.innerDiv1{
  margin-left: 10px;
  margin-top: 600px;
  height: 100px;
  width: 100%;
}

.innerDiv2{
  margin-left: 150px;
  margin-top: 600px;
  height: 100px;
  width: 100%;
}

.innerDiv3{
  margin-left: 200px;
  margin-top: 600px;
  height: 100px;
  width: 100%;
}
.a{
  width:100%;
  height:100vh;
  margin-top:400px;
  margin-left: 10px;
}
.f{
   display: flex;
}
.b{
  margin-top:10px;
  margin-left:10px;
}
.c{
  margin-top:10px;
  margin-left: 200px;

  
}
.g{
  display: flex;
}
.d{
  margin-top:10px;
  margin-left: 10px;
}
.e{
  margin-top:10px;
  margin-left: 200px;

}